body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(88, 141, 88, 0.83);
    display: auto

}
.img {
    border: 2px solid white;
    display: block auto;
}


.title {
    border: solid white;
    padding: 12px;
    margin: 12px;
    display: inline-block auto;
    font-weight: bold;
    text-align: center;
}

.desc {
    display:block;
    color: black;
    border: white dotted;
    
    
}
.return {
    color: black;
    text-align: center
}